@use '@shared/styles/mixin' as *;
@use '@shared/styles/variables';

.ant-table-cell {
  @include transition(background-color);
  background-color: transparent !important;
  color: var(--color-greyTxt) !important;
  font-weight: 400 !important;
  padding: 10px !important;
  &:first-of-type {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &:last-of-type {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  &::before {
    content: none !important;
  }
}

.ant-table-cell-row-hover,
.track-table__row-selected > .ant-table-cell {
  background-color: var(--color-greyLightBg) !important;
}

.ant-modal {
  width: 440px !important;
  button {
    @include transition(background-color);
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 1rem;
  }
}

.ant-modal-close {
  display: none;
}

.ant-modal-title {
  font-size: 1.6rem !important;
  color: var(--color-blackTxt) !important;
}

.ant-divider {
  margin: 0 !important;
}

.ant-empty {
  padding-top: 80px;
}
.ant-empty-description {
  color: var(--color-blackTxt) !important;
}
