:root {
  --color-blackTxt: #11253d;
  --color-greyTxt: #a4a4a4;
  --color-lightGreyTxt: #c4c4c4;
  --color-greyLightBg: #f5f5f5;
  --color-greyBg: #e8e8e8;
  --color-greyDarkBg: #aaaaaa;
  --color-promo: #fc6d3e;
  --color-promoLight: #fc906b;
  --color-white: #fff;
  --transition-duration: 0.3s;
}
