@use '@shared/styles/mixin' as *;

.auth-form {
  .ant-input {
    @include transition(background-color);
    border: none !important;
    border-radius: 8px !important;
    background-color: var(--color-greyLightBg) !important;
    color: var(--color-blackTxt) !important;
    padding: 8px 16px !important;
    &:hover,
    &:focus-within {
      background-color: var(--color-greyBg) !important;
      box-shadow: none !important;
    }
    &::placeholder {
      color: var(--color-greyTxt) !important;
    }
  }
  &__btn-group {
    @include flex(end, center, 8px);
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  button {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__btn-out {
    background-color: var(--color-greyLightBg);
    &:hover {
      background-color: var(--color-greyBg);
    }
  }
  &__btn-enter {
    color: var(--color-white) !important;
    background-color: var(--color-promo);
    &:hover {
      background-color: var(--color-promoLight);
    }
  }
  .ant-form-item-additional {
    margin-bottom: 10px;
  }
}
