@use '@shared/styles/mixin' as *;

.remove-track-modal {
  &__footer {
    @include flex(end, center, 8px);
  }
  button {
    @include transition(background-color);
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 1.1rem;
  }
  &__btn-cancel {
    background-color: var(--color-greyLightBg);
    &:hover {
      background-color: var(--color-greyBg);
    }
  }
  &__btn-remove-track {
    color: var(--color-white);
    background-color: var(--color-promo);
    &:hover {
      background-color: var(--color-promoLight);
    }
  }
}
