@use '@/index' as *;

.track-list {
  @include flex(center, auto, 0, column);
  &__item {
    @include flex(space-between, center);
    @include transition(background-color);
    background-color: transparent;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: var(--color-greyLightBg);
      .track-list__img {
        img {
          filter: brightness(30%);
        }
        svg {
          opacity: 1;
        }
      }
    }
  }
  &__left-content,
  &__right-content {
    @include flex(center, center, 10px);
  }
  &__img {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    @media (max-width: 1023px) {
      width: 50px;
      height: 50px;
    }
    img {
      @include transition(opacity);
      width: 100%;
      height: 100%;
    }
    svg {
      @include transition(opacity);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  &__info {
    @include flex(center, start, 5px, column);
    span:first-of-type {
      font-size: 1.2rem;
      @media (max-width: 1023px) {
        font-size: 1rem;
      }
    }
    span:last-of-type {
      color: var(--color-greyTxt);
      @media (max-width: 1023px) {
        font-size: 0.8rem;
      }
    }
  }
  &__button-up {
    @include flex(center, center, 5px);
    @include transition(color);
    font-size: 1.2rem;
    position: fixed;
    left: 8%;
    bottom: 30px;
    color: var(--color-greyTxt);
    &:hover {
      color: var(--color-blackTxt);
    }
  }
}

.spin {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
