@use '@shared/styles/mixin' as *;

.create-playlist-modal {
  &__container {
    @include flex(center, start, 0px, column);
  }

  .ant-form {
    width: 100%;
    margin: 15px 0 25px;
  }

  .ant-form-item {
    margin-bottom: 10px;
  }

  .ant-input {
    @include transition(background-color);
    border: none !important;
    border-radius: 8px !important;
    background-color: var(--color-greyLightBg) !important;
    color: var(--color-blackTxt) !important;
    padding: 8px 16px !important;
    &:hover,
    &:focus-within {
      background-color: var(--color-greyBg) !important;
      box-shadow: none !important;
    }
    &::placeholder {
      color: var(--color-greyTxt) !important;
    }
  }

  &__btn-cancel {
    margin-left: auto;
    background-color: var(--color-greyLightBg);
    &:hover {
      background-color: var(--color-greyBg);
    }
  }
  &__btn-create-playlist {
    color: var(--color-white) !important;
    background-color: var(--color-promo);
    &:hover {
      background-color: var(--color-promoLight);
    }
  }
  &__btn-add-playlist + .add-track-modal__btn-cancel {
    margin-left: auto;
  }
  &__empty-descr {
    margin: 15px 0;
    font-size: 1.6rem;
  }

  &__empty-descr + .add-track-modal__btn-add-playlist {
    margin-bottom: 25px;
  }
}
