@use '@shared/styles/mixin' as *;

.layout {
  @include flex(center, center, 0, column);
  min-height: 100vh;
  background-color: transparent !important;
  font-family: 'Circular', sans-serif !important;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.95));
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  line-height: 0;
  color: inherit;
}

.main-layout {
  width: 100%;
  max-width: 1180px !important;
  display: flex;
  padding: 35px 30px 35px 30px;
  background-color: transparent !important;
  flex-grow: 1;
  gap: 40px;
  @media (max-width: 1023px) {
    padding: 35px 15px 35px 15px;
    gap: 10px;
  }
  @media (max-width: 767px) {
    flex-direction: column !important;
    padding-top: 15px;
  }
}

.aside {
  margin-top: -7px;
  width: auto !important;
  flex: 0 0 17% !important;
  max-width: 100% !important;
  min-width: auto !important;
  background-color: var(--color-white) !important;
  @media (max-width: 1023px) {
    flex: 0 0 15% !important;
  }
  @media (max-width: 767px) {
    flex: 0 0 100% !important;
    margin-top: 0;
  }
}

.content {
  @media (max-width: 767px) {
    width: 100% !important;
  }
}

.footer {
  max-width: 1180px !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
