@use '@shared/styles/mixin' as *;

.add-track-modal {
  &__container {
    @include flex(center, center, 0px, column);
  }

  &__footer {
    @include flex(end, center, 8px);
    margin-left: auto;
  }

  &__btn-cancel {
    background-color: var(--color-greyLightBg);
    &:hover {
      background-color: var(--color-greyBg);
    }
  }
  &__btn-add-track,
  &__btn-add-playlist {
    color: var(--color-white) !important;
    background-color: var(--color-promo);
    &:hover {
      background-color: var(--color-promoLight);
    }
  }
  &__btn-add-playlist + .add-track-modal__btn-cancel {
    margin-left: auto;
  }
  &__empty-descr {
    margin: 15px 0;
    font-size: 1.6rem;
  }

  &__empty-descr + .add-track-modal__btn-add-playlist {
    margin-bottom: 25px;
  }
}
