@use '@/index' as *;

.header {
  padding: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0.35), rgba(255,255,255,0.95));
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  line-height: 0;
  color: inherit;

  &__container {
    @include flex(space-between, center, 8px);
    width: 100%;
    padding: 15px 30px 15px 70px;
    @media (max-width: 1200px) {
      padding-left: 40px;
    }
    @media (max-width: 768px) {
      padding: 17.5px 16px;
    }
  }

  &__link {
    @include transition(opacity);
    &:hover {
      opacity: 0.5;
    }
    img {
      @media (max-width: 768px) {
        width: 115px;
        height: 23px;
      }
    }
  }
  &__right {
    @include flex(end, center, 30px);
    width: 70%;
    @media (max-width: 1024px) {
      gap: 10px;
    }
  }
  &__search-btn {
    padding-top: 4px;
    &:hover {
      path {
        stroke: var(--color-blackTxt);
      }
    }
    svg {
      width: 20px;
      height: 20px;
      path {
        @include transition(stroke);
        stroke: var(--color-greyTxt);
      }
    }
  }
  &__close-search-btn {
    &:hover {
      path {
        fill: var(--color-blackTxt);
      }
    }
    svg {
      width: 20px;
      height: 20px;
      path {
        @include transition(fill);
        fill: var(--color-greyTxt);
      }
    }
  }
  &__no-auth {
    border-radius: 30px;
    background-color: var(--color-greyLightBg);
    padding: 14px 10px;
    height: 100%;
    @media (max-width: 768px) {
      padding: 6px 14px;
      font-size: 0.75rem;
    }
  }
}
