@use '@shared/styles/mixin' as *;

.playlists-list-modal {
  @include flex(start, start, 5px, column);
  @include scrollbar();
  width: 100%;
  margin-bottom: 25px;
  max-height: 500px;
  overflow-y: auto;
  @media (min-width: 996px) and (max-height: 800px) {
    max-height: 300px;
  }
  &__item {
    width: 100%;
  }
  &__btn {
    @include flex(start, center, 10px);
    width: 100%;
    padding: 4px 12px !important;

    &:hover {
      background-color: var(--color-greyLightBg) !important;
    }
    &-selected {
      background-color: var(--color-greyBg) !important;
      &:hover {
        background-color: var(--color-greyBg) !important;
      }
    }
  }
  &__info {
    @include flex(center, start, 5px, column);
    span:last-of-type {
      color: var(--color-promoLight);
      font-size: 0.8rem;
    }
  }
}
