@use '@/index' as *;

.aside-menu {
  border-inline-end: none !important;
  background-color: var(--color-greyLightBg);
  .ant-menu-item {
    @include flex(start, center, 8px);
    font-size: 1.3rem;
    color: var(--color-blackTxt);
    &:hover {
      background-color: var(--color-greyBg) !important;
    }
  }
  .ant-menu-item-selected {
    background-color: var(--color-white) !important;
    &:hover {
      background-color: var(--color-white) !important;
    }
  }
  .ant-menu-title-content {
    @include transition(color);
    margin-inline-start: 0 !important;
  }

  .ant-menu-item-icon path {
    @include transition(stroke);
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: row !important;
    overflow-x: scroll;
    flex-wrap: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .ant-menu-item {
      flex-shrink: 0;
      max-width: max-content;
      background-color: var(--color-white) !important;
      border-radius: 30px;
      padding: 4px 16px !important;
      height: auto !important;
      &:hover {
        background-color: var(--color-promoLight) !important;
        .ant-menu-item-icon path {
          stroke: var(--color-white);
        }
        .ant-menu-title-content {
          color: var(--color-white);
        }
      }
    }
    .ant-menu-item-selected {
      background-color: var(--color-promo) !important;
      &:hover {
        background-color: var(--color-promo) !important;
      }
      .ant-menu-title-content {
        color: var(--color-white);
      }
      .ant-menu-item-icon path {
        stroke: var(--color-white);
      }
    }
  }
}
