@use '@shared/styles/mixin' as *;

.track-table {
  &__row {
    cursor: pointer;
    &:hover {
      .track-table__name-img {
        img {
          filter: brightness(30%);
        }
        svg {
          opacity: 1;
        }
      }
    }
  }
  &__id {
    color: var(--color-blackTxt);
    font-size: 1.3rem;
  }
  &__name {
    @include flex(start, center, 10px);
    &-img {
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 8px;
      box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.7),
        0 10px 20px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      img {
        @include transition(opacity);
        width: 100%;
        height: 100%;
      }
      svg {
        @include transition(opacity);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
    }

    &-content {
      @include flex(center, start, 5px, column);
      span:first-of-type {
        color: var(--color-blackTxt);
      }
    }
  }

  &__album {
    color: var(--color-blackTxt);
  }
  &__button-up {
    @include flex(center, center, 5px);
    @include transition(color);
    font-size: 1.2rem;
    position: fixed;
    left: 10%;
    bottom: 30px;
    color: var(--color-greyTxt);
    &:hover {
      color: var(--color-blackTxt);
    }
  }
}

.spin {
  position: absolute;
  bottom: -30px !important;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
