@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: bold;
  src:
    url('/fonts/CircularStd-Bold.woff2') format('woff2'),
    url('/fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: normal;
  src:
    url('/fonts/CircularStd-Book.woff2') format('woff2'),
    url('/fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 500;
  src:
    url('/fonts/CircularStd-Medium.woff2') format('woff2'),
    url('/fonts/CircularStd-Medium.woff') format('woff');
}

:root {
  --color-blackTxt: #11253d;
  --color-greyTxt: #a4a4a4;
  --color-lightGreyTxt: #c4c4c4;
  --color-greyLightBg: #f5f5f5;
  --color-greyBg: #e8e8e8;
  --color-greyDarkBg: #aaaaaa;
  --color-promo: #fc6d3e;
  --color-promoLight: #fc906b;
  --color-white: #fff;
  --transition-duration: 0.3s;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Circular', sans-serif;
  color: var(--color-blacktxt);
  font-size: 1rem;
  background-color: var(--color-white);
}

//Reset
input,
textarea {
  font-family: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
}

//Mixin
@mixin flex($justify: flex-start, $align: center, $gap: 0, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
}

@mixin transition($property: all) {
  transition: $property 0.2s ease-in-out;
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    @include transition(background-color);
    background-color: var(--color-greyLightBg);
    border-radius: 8px;
    &:hover {
      background-color: var(--color-greyBg);
    }
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  scrollbar-width: thin;
  scrollbar-color: var(--color-greyBg) transparent;
}

//Custom ant style
.ant-dropdown-menu {
  border-radius: 30px !important;
  background-color: transparent !important;
}

.ant-dropdown-menu-item {
  @include transition();
  border-radius: 30px !important;
  span:last-of-type {
    font-size: 1.15rem !important;
  }
  @media (max-width: 768px) {
    padding: 0px 10px !important;
    gap: 4px;
    span:last-of-type {
      font-size: 1rem !important;
    }
  }
  .ant-dropdown-menu-item-icon {
    margin-inline-end: 0 !important;
  }
}

.ant-table-cell {
  @include transition(background-color);
  background-color: transparent !important;
  color: var(--color-greyTxt) !important;
  font-weight: 400 !important;
  padding: 10px !important;
  &::before {
    content: none !important;
  }
}

.ant-table-cell-row-hover {
  background-color: var(--color-greyLightBg)!important;
}

.ant-modal-close {
  display: none;
}

.ant-modal-title {
  font-size: 2rem !important;
  color: var(--color-blacktxt) !important;
}

.ant-divider {
  margin: 0 !important;
}

.infinite-scroll-component__outerdiv {
  position: relative;
}
.infinite-scroll-component {
  overflow: hidden !important;
}

.title {
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 2.2rem;
  color: black;
  @media (max-width: 768px) {
    margin-bottom: 15px;
    font-size: 1.8rem;
  }
}

.three-dots-button {
  @include flex(center, center);
}
