@use '@shared/styles/mixin' as *;

.playlists-list {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
    @include transition(background-color);
    &:hover {
      background-color: var(--color-greyLightBg) !important;
    }
    border-radius: 8px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  }
  &__link,
  &__btn {
    @include flex(center, center, 5px, column);
    padding: 16px;
  }
  &__name {
    font-size: 1.15rem;
    font-weight: 500 !important;
    color: var(--color-blackTxt);
  }
  &__btn {
    gap: 10px;
    color: var(--color-blackTxt);
    width: 100%;
    height: 100%;
    cursor: pointer;
    svg {
      width: 32px;
      height: 32px;
    }
  }
}
